/* 告示栏 */
.box-radius {
    border-radius: 10px;
}

.bg-Gradients-1 {
    background-image: -moz-linear-gradient(var(--xf-Gradient-background-2));
    background-image: -webkit-linear-gradient(var(--xf-Gradient-background-2));
    background-image: -ms-linear-gradient(var(--xf-Gradient-background-2));
    background-image: linear-gradient(var(--xf-Gradient-background-2));
    -webkit-box-shadow: 0 10px 30px .6px rgba(43, 64, 215, .5);
    box-shadow: 0 10px 30px .6px rgba(43, 64, 215, .5);
}

.bg-Gradients-2 {
    background-image: -moz-linear-gradient(var(--xf-Gradient-background-3));
    background-image: -webkit-linear-gradient(var(--xf-Gradient-background-3));
    background-image: -ms-linear-gradient(var(--xf-Gradient-background-3));
    background-image: linear-gradient(var(--xf-Gradient-background-3));
    -webkit-box-shadow: 0 10px 30px .6px rgba(131, 49, 220, .5);
    box-shadow: 0 10px 30px .6px rgba(131, 49, 220, .5);
}

.bg-Gradients-3 {
    background-image: -moz-linear-gradient(var(--xf-Gradient-background-4));
    background-image: -webkit-linear-gradient(var(--xf-Gradient-background-4));
    background-image: -ms-linear-gradient(var(--xf-Gradient-background-4));
    background-image: linear-gradient(var(--xf-Gradient-background-4));
    -webkit-box-shadow: 0 10px 30px .6px rgba(229, 57, 23, .5);
    box-shadow: 0 10px 30px .6px rgba(229, 57, 23, .5);
}

.bg-Gradients-4 {
    background-image: -moz-linear-gradient(var(--xf-Gradient-background-5));
    background-image: -webkit-linear-gradient(var(--xf-Gradient-background-5));
    background-image: -ms-linear-gradient(var(--xf-Gradient-background-5));
    background-image: linear-gradient(var(--xf-Gradient-background-5));
    -webkit-box-shadow: 0 10px 30px .6px rgba(16, 98, 198, .5);
    box-shadow: 0 10px 30px .6px rgba(16, 98, 198, .5);
}

.pull-left p:nth-child(1) {
    font-size: 2rem;
}

.pull-left p:nth-child(2) {
    font-weight: bold;
    margin: 10px 0;
    font-size: 2.4rem;
}

.pull-left p:nth-child(3) {
    font-size: 1.6rem;
}

.cpu-bg,
.mem-bg {
    width: 100%;
    height: 23.99px;
    -webkit-background-color: var(--xf-box-background-1);
    background-color: var(--xf-box-background-1);
    border-radius: 10px;
}

.cpu-bg span,
.mem-bg span {
    display: inline-block;
    height: 100%;
    background-color: var(--text-white);
    border-radius: 10px;
}

/* 公告&作者 */
.xf-card-notice,
.xf-card-author {
    position: relative;
    height: 183px;
}

.xf-card-author::after {
    content: '';
    display: block;
    position: absolute;
    right: 5px;
    top: 50%;
    width: 100px;
    height: 100px;
    background: url(https://q2.qlogo.cn/headimg_dl?dst_uin=1809185784&spec=100) no-repeat;
    -webkit-transform: scale(1.6, 1.6);
    transform: translate(0, -50%) scale(1.5, 1.5);
    -webkit-opacity: .4;
    opacity: .4;
    z-index: -1;
}

.card-header .card-header-h4-1 {
    font-size: 1.4em;
    color: var(--text-color-3);
}

.card-header .card-header-h4-2 {
    font-size: 1.4em;
    color: var(--text-color-4);
}

.card-header-na {
    padding: 8px 20px !important;
    border-bottom: 1px solid rgba(77, 82, 89, 0.05) !important;
}

/* 代理商 */
.card-header .h4,
.card-header h4 {
    font-size: 1.6em;
    font-weight: bold;
    color: var(--text-color-1);
}

.xf-card {
    border-radius: 20px;
    -webkit-background-color: var(--xf-box-background-1);
    background-color: var(--xf-box-background-1);
    -webkit-box-shadow: 1.5px 1px 10px 0 var(--xf-box-background-1);
    box-shadow: 1.5px 1px 10px 0 var(--xf-box-background-1);
    -webkit-backdrop-filter: var(--xf_glass_blur);
    backdrop-filter: var(--xf_glass_blur);
}

.xf-card-height-daili {
    height: 390px;
}

.m-t-10 {
    float: right;
}

@media screen and (max-width: 520px) {
    .m-t-10 {
        float: left;
    }
}

[class*='label-outline-'] {
    border: none;
    font-size: 1rem;
    font-weight: bold;
}

.label-outline-purples::before {
    background-color: var(--xf-box-purples);
}

.label-outline-purpureus::before {
    background-color: var(--xf-box-purpureus);
}

.label-outline-red::before {
    background-color: var(--xf-box-red);
}

[class*='label-outline-purples'] {
    color: var(--xf-box-purples);
}

[class*='label-outline-purpureus'] {
    color: var(--xf-box-purpureus);
}

[class*='label-outline-red'] {
    color: var(--xf-box-red);
}

/* 代理 */
.daili-iframe {
    height: 21em;
}

/* 公告&作者 */
.notice-iframe,
.author-iframe {
    height: 8em;
}

@media screen and (max-width: 515px) {
    .daili-iframe {
        width: 100%;
        height: 19em;
    }
}